header{
    background-color: #F0EFE9;
    padding: 15px;
    display: flex;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
        
        .menu{
            display: none;
            font-size: 25px;

            @media(min-width: 992px){
                display: block;
            }

            .topmenu{
                display: flex;
                flex:1;
                justify-content: space-between;

                /*ta bort senare(felsök)*/
                border: 2px solid black;
            }
        }

        .menu-bars{
            border: none;
            background-color: transparent;

            @media(min-width: 992px){
                display: none;
            }
        }
    
    @media(min-width: 2500px){
        width: 2048px;
    }
}
}





/*TA BORT SENARE: testdesign härifrån*/
section{
    @media(max-width: 300px){
        width: 300px;
        background-color:darkkhaki;
        font-size: xx-large;
    }
}